
@import "tailwindcss";

@font-face {
  font-family: Oswald;
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url("/fonts/noto.ttf") format("woff2");
}
@theme {
  --font-display: "noto", "sans-serif"; 
}